@tailwind base;
@tailwind components;
@tailwind utilities;
/*Parallax effect for background*/
.parallax {
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}