@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

/*Parallax effect for background*/
.parallax {
    background-image: url(images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*
.blurred-img {
    opacity: 100;
}*/
.blur {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
/*Navbar*/
nav {
    top: -150px;
    /* background-color: rgba(239, 239, 239, 0.533); */
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    transition: top .5s;
    /* z-index: 5; */
}
/*Tabs*/
.tabs {
    overflow: hidden;
}

/* .tabs button {
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
}
.tabs button:hover {
    color: rgb(234, 179, 8);
} */
  

