@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/*Parallax effect for background*/
.parallax {
    background-image: url(images/Hexagon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.blur {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
/*Navbar*/
nav {
    top: -150px;
    background-color: #efefef88;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: top .5s;
}
/*Tabs*/
.tabs {
    overflow: hidden;
    background-color: #ffffff;
}

.tabs button {
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
}
.tabs button:hover {
    color: rgb(134, 239, 172);
}
  
/* Active tab*/
.tabs button.active {
    color: rgb(48, 148, 106);
}

.tabHeader {
    height: 100%;
}
/*More tabs*/
.fullscreen {
    /*overflow: hidden;*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000000;
    background-color: #000000aa;
    overflow-x: hidden;
    transition: 0.5s;
}
.fullscreen-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}
.fullscreen p {
    padding: 8px;
    font-size: 36px;
    color: #818181;
    display: block;
}
.fullscreen .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
    .fullscreen a {font-size: 20px}
    .fullscreen .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

  
